/**
* @name ELYSIA
* @author Purple Wizard#0984
* @version 2.2
* @invite SBuYeHh
* @description An amazing RGB theme with full customization included, made by Purple Wizard.
* @source https://github.com/GoldenLys/BetterDiscord-Elysia
* @website https://goldenlys.github.io/ThemeGen
* @authorLink https://github.com/GoldenLys
*/

@import url("https://goldenlys.github.io/BetterDiscord-Elysia/aerobase.css");/* DO NOT REMOVE THIS LINE */

/*  PLUGINS (optional)  */
@import url("https://fonts.googleapis.com/css?family=Quicksand&amp;display=swap");
@import url("https://goldenlys.github.io/BetterDiscord-Elysia/HoverMemberList.css");
@import url("https://goldenlys.github.io/BetterDiscord-Elysia/NoOffline.css");
@import url("https://goldenlys.github.io/BetterDiscord-Elysia/HorizontalServerList.css");

/*  GENERAL CONFIG  */

:root {
        --title: "E L Y S I A";
        --font: "Quicksand", sans-serif;
        --background: url(https://cdn.discordapp.com/attachments/476154188494143498/680898001346363415/appear.jpg);
        --logo: url(https://cdn.discordapp.com/attachments/476154188494143498/675832706386362398/ALPHA4.gif);
        --Primary: rgb(130, 0, 216);
        --animation: var(--Primary), rgb(0, 225, 255);
        --time: 5s;
        --ServerSize: 45px;
        
        /*  STATUSES  */
        --Online: rgb(0, 255, 136);
        --Idle: rgb(0, 99, 156);
        --Unavailable: rgb(228, 15, 0);
        --Offline: rgb(90, 95, 100);

        /*  PROFILE HEADERS (you can also use "url(LINKtoIMAGE)" for the profile headers)  */
        --Playing: url(https://cdn.discordapp.com/attachments/476154188494143498/680898006937370645/provenance.jpg);
        --Xbox: url(https://cdn.discordapp.com/attachments/476154188494143498/680898003246252176/energyunion.jpg);
        --Spotify: url(https://cdn.discordapp.com/attachments/476154188494143498/680898009122340937/spacestorm.jpg);
        --Streaming: url(https://cdn.discordapp.com/attachments/476154188494143498/680897535828557844/aldebaran.jpg);

        /*  MENUS COLORS  */
        --grey: rgb(77, 70, 85);
        --grey5: rgba(77, 70, 85, .5);
        --darkgrey: rgb(18, 18, 18);
        --darkgrey5: rgba(18, 18, 18, .75);
        --TitleBG: var(--darkgrey5);
        --ChatBox: var(--darkgrey5);
        --Sidebar: var(--darkgrey5);
        --SendMessage: var(--darkgrey);
        --HoverMessage: var(--darkgrey5);

        /* CUSTOM TEXTS */
        --JoinUs: "Hey! Wanna have some fun.. Join US !";
        --AddNewServer: "➕ Add a new server";
        --ProfilePic: "Watch me";
        --Close: "🔴";
        --Resize: "➕";
        --Hide: "➖";
        --Unread: "✨";
        --Options: "⚙️";
        --Emoji: "🙂";
        --EmojiHover: "😜";
        --Channel: "💬";
        --Voice: "🔊";
        --Community: "purpies";
        --WelcomeMessage: "✨ Welcome to ELYSIA, designed by Purple Wizard.";
        --Watermark: "Made with 💖 by Purple Wizard";
        --EditStatus: "Put another status";
        --Folders: "📁";
        --FoldersOpen: "💠";
        --Micro: "🎙️";
        --Headset: "🎧";
        --WriteMessage: 'Write a message...';
        --TaggedName: 'YOU';
        --ListenAlong: 'Listen Along';
}

/*END OF CONFIG*/