.panels-j1Uci_ .container-3baos1 button:nth-child(1)>.contents-18-Yxp::after {
  content: "🎮" !important;
}

.panels-j1Uci_ .container-3baos1 button:nth-child(2)>.contents-18-Yxp::after {
  content: var(--Micro) !important;
}

.panels-j1Uci_ .container-3baos1 button:nth-child(3)>.contents-18-Yxp::after {
  content: var(--Headset) !important;
}

.panels-j1Uci_ .container-3baos1 button:nth-child(4)>.contents-18-Yxp::after {
  content: var(--Options);
}