/* Horizontal Server List by Gibbu Fix */

:root {
    --server-size: var(--ServerSize);
}

.wrapper-21YSNc .pill-31IEus, .tutorialContainer-SGrQ1h+.listItem-2P_4kh .pill-3YxEhL, .tutorialContainer-SGrQ1h+.listItem-2P_4kh+.listItem-2P_4kh .pill-3YxEhL, div[data-ref-id="guildsnav"]>.listItem-2P_4kh .pill-31IEus, .tutorialContainer-1v44GL .pill-2uzAFe {
    left: 0;
    border-radius: .25em;
}