/* HORIZONTAL SERVER LIST */

#app-mount .guilds-1SWlCJ {
    padding-top: .25em;
    position: unset;
    width: 100%;
}

#app-mount [data-ref-id=guildsnav] {
    display: flex;
    flex-wrap: wrap;
    height: 55px;
    overflow-y: auto;
    width: 100%;
    justify-content: center;
}

.expandedFolderBackground-2sPsd- {
    border-radius: .25em 0 0 .25em!important;
}

.expandedFolderBackground-2sPsd-.collapsed-1GMuSb {
    border-radius: .25em!important;
}

.guilds-1SWlCJ .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] {
    height: 5px;
    top: -7px;
    width: 100%;
    transform: none;
    border-radius: .5em;
}

div[data-ref-id="guildsnav"]::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

div[data-ref-id="guildsnav"]::-webkit-scrollbar {
    height: 5px;
}

div[data-ref-id="guildsnav"]::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 2px;
}

div[data-ref-id="guildsnav"]>div:first-child {
    margin-left: 0!important
}

div[data-ref-id="guildsnav"]>.listItem-2P_4kh, div[data-ref-id="guildsnav"]>.wrapper-21YSNc {
    margin: 10px 0 10px 5px !important;
    width: 35px;
    height: 35px;
}

#app-mount .wrapper-21YSNc {
    width: auto;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

#app-mount .wrapper-21YSNc [role=group] {
    display: flex;
    align-items: center;
    height: auto !important;
    border-radius: 0 .25em .25em 0;
}

.guilds-1SWlCJ>.scrollerWrap-1IAIlv>.scroller-2FKFPG>.tutorialContainer-1v44GL,
.guilds-1SWlCJ>.scrollerWrap-1IAIlv>.scroller-2FKFPG>div[data-ref-id="guildsnav"],
.guilds-1SWlCJ .scrollerWrap-1IAIlv .scroller-2FKFPG>.tutorialContainer-SGrQ1h,
.guilds-1SWlCJ>.scrollerWrap-1IAIlv>.scroller-2FKFPG>div:last-child
{    
    position: unset;
}

.guilds-1SWlCJ>.scrollerWrap-1IAIlv>.scroller-2FKFPG>.tutorialContainer-1v44GL,/* DISCORD ICON */
.guilds-1SWlCJ .scrollerWrap-1IAIlv .scroller-2FKFPG>.tutorialContainer-SGrQ1h,/* ADD SERVER ICON */
.guilds-1SWlCJ>.scrollerWrap-1IAIlv>.scroller-2FKFPG>div:last-child /* DISCOVER ICON */
{    
    background-color: transparent;
    margin: 10px 5px 0px 0px;
}

/* PMs */
#app-mount .guilds-1SWlCJ .scroller-2TZvBN>div[style*="opacity: 1;"] {
    margin-top: 10px;
    margin-right: 5px;
}

.tutorialContainer-1v44GL { 
    margin-left: 5px!important;
    height: 35px; }

.tutorialContainer-SGrQ1h {
    margin-left: 5px!important;
}

/* HORIZONTAL SERVER LIST */
#app-mount .guilds-1SWlCJ .scroller-2TZvBN>.listItem-2P_4kh:not(:last-child),
.listItem-2P_4kh.bd-guild-separator, .closedFolderIconWrapper-15K9MK div {
    display: none
}

.guilds-1SWlCJ .scrollerWrap-1IAIlv, .guilds-1SWlCJ>.scrollerWrap-1IAIlv>.scroller-2FKFPG {
    display: flex;
    contain: unset;
    width: 100%;
}

.expandedFolderBackground-2sPsd-, .guilds-1SWlCJ .listItem-2P_4kh, .guilds-1SWlCJ .scroller-2FKFPG .listItem-2P_4kh .wrapper-25eVIn, .guilds-1SWlCJ .scroller-2FKFPG .listItem-2P_4kh .svg-1X37T1 {
    width: 35px !important;
    height: 35px !important;
    margin: 0;
    border-radius: .25em;
}

.expandedFolderIconWrapper-1xLaU- {
    width: 100%;
    height: 100%;
}

.closedFolderIconWrapper-15K9MK:after {
    position: absolute;
    content: var(--Folders);
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    left: 0;
    top: 5px;
    right: 0;
}

.expandedFolderBackground-2sPsd- {
    min-height: 35px;
    top: 0;
    left: 0;
    bottom: 0;
}

.expandedFolderIconWrapper-1xLaU-:after {
    position: absolute;
    content: var(--FoldersOpen);
    font-size: 25px;
    line-height: 1.8;
    text-align: center;
    width: 100%;
    height: 100%;
}

.listItemWrapper-3X98Pc {
    margin: 0 5px;
}

.guilds-1SWlCJ {
    position: unset;
    height: 100%;
    width: 100%;
}

.guilds-1SWlCJ .scroller-2FKFPG>.listItem-2P_4kh:first-child+.listItem-2P_4kh:not([style]), .guilds-1SWlCJ .scroller-2FKFPG>div[style]:not(.listItem-2P_4kh)+.listItem-2P_4kh {
    margin: 0px !important;
    width: auto !important;
    height: 35px !important;
}

.guilds-1SWlCJ>.scrollerWrap-2lJEkd>.scroller-2FKFPG>.listItem-2P_4kh {
    background-color: var(--grey);
}

.item-2hkk8m {
    height: 5px!important;
    width: 100%!important;
    margin: 0!important;
}

.guilds-1SWlCJ>.scrollerWrap-2lJEkd>.scroller-2FKFPG>.wrapper-21YSNc {
    z-index: 10;
}

.root-SR8cQa {
    width: calc(100vw - 265px);
}

.base-3dtUhz {
    z-index: 1;
    position: absolute;
    top: 60px;
    left: 0;
}