/* HORIZONTAL SERVER LIST */

.listItem-2P_4kh.bd-guild-separator, .closedFolderIconWrapper-15K9MK div {
    display: none
}

.guilds-1SWlCJ .scrollerWrap-1IAIlv,
.guilds-1SWlCJ>.scrollerWrap-1IAIlv>.scroller-2FKFPG {
    display: flex;
    overflow: hidden;
    contain: unset;
    width: 100%;
}

.guilds-1SWlCJ>.scrollerWrap-2lJEkd>.scroller-2FKFPG>div,.expandedFolderBackground-2sPsd-,
.guilds-1SWlCJ .listItem-2P_4kh, .guilds-1SWlCJ .scroller-2FKFPG .listItem-2P_4kh .wrapper-25eVIn, .guilds-1SWlCJ .scroller-2FKFPG .listItem-2P_4kh .svg-1X37T1 {
    width: 35px !important;
    height: 35px !important;
}

.closedFolderIconWrapper-15K9MK:after {
    position: absolute;
    content: var(--Folders);
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    left: 0;
    top: 5px;
    right: 0;
}

.expandedFolderBackground-2sPsd- {
    min-height: 35px;
    top: 0;
    left: 0;
    bottom: 0;
}

.expandedFolderIconWrapper-1xLaU-:after {
    position: absolute;
    content: var(--FoldersOpen);
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    width: 35px;
    height: 35px;
}

.guilds-1SWlCJ>.scrollerWrap-2lJEkd>.scroller-2FKFPG>div {
    margin: 0 0 0 5px !important;
}

.listItemWrapper-3X98Pc {
    margin: 0 5px;
}

.guilds-1SWlCJ {
    position: unset;
    height: 100%;
    width: 100%;
}

.base-3dtUhz {
    z-index: 1;
    position: absolute;
    top: 50px;
    left: 0;
}
.guilds-1SWlCJ .scroller-2FKFPG>.listItem-2P_4kh:first-child+.listItem-2P_4kh:not([style]), .guilds-1SWlCJ .scroller-2FKFPG>div[style]:not(.listItem-2P_4kh)+.listItem-2P_4kh {
    margin: 0px !important;
    width: auto !important;
    height: 35px !important;
}

.guilds-1SWlCJ .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] {
    height: 5px;
    top: unset;
    bottom: -5px;
    width: 100%;
}

.item-2hkk8m {
    height: 5px!important;
    width: 100%!important;
    margin: 0!important;
}

.guilds-1SWlCJ>.scrollerWrap-2lJEkd>.scroller-2FKFPG>.wrapper-21YSNc {
    z-index: 10;
}