//META{"name":"ÆroSpace","description":"An amazing futuristic theme, made by Purple Wizard.","author":"ᴘᴜʀᴘʟᴇ ᴡɪᴢᴀʀᴅ#0984","version":"1.0", "website":"https://github.com/GoldenLys/"}*//{}

/* MAIN CODE DO NOT REMOVE */
@import url('https://goldenlys.github.io/BetterDiscord-Elysia/aerobase.css');



/*  PLUGINS (optional)  */
/* New font for discord */
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/* Hides the offline status */
@import url('https://goldenlys.github.io/BetterDiscord-Elysia/NoOffline.css'); 

/* Make the memberlist hidden by default */
@import url('https://goldenlys.github.io/BetterDiscord-Elysia/OverrableMembers.css'); 

/* New font for discord (you can also use your own) */
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap'); 



/*  GENERAL CONFIG  */
:root {
        /* DISCORD WATERMARK */
        --title: "ÆroSpace";
        --logo : url(https://cdn.discordapp.com/attachments/476154188494143498/675832706386362398/ALPHA4.gif);

        /*  GENERAL */
        /* background color eg: black or url(LINKtoIMAGE) */
        --background: url(https://cdn.discordapp.com/attachments/476154188494143498/680898001346363415/appear.jpg);
        --font: 'Quicksand', sans-serif;
        --rgb1: rgb(130, 0, 216);
        --rgb2: rgb(0, 225, 255);

        /* RGB ANIMATION CONFIG */
        --animation: var(--n1), var(--n2);

        /*  STATUSES  */
        --Online: rgb(0, 255, 136);
        --Idle: rgb(0, 99, 156);
        --Unavailable: rgb(228, 15, 0);
        --Offline: rgb(90, 95, 100);

        /* PROFILE HEADERS */
        /* background color eg: black or url(LINKtoIMAGE) */
        --Playing: url(https://cdn.discordapp.com/attachments/476154188494143498/680898006937370645/provenance.jpg);
        --Xbox: url(https://cdn.discordapp.com/attachments/476154188494143498/680898003246252176/energyunion.jpg);
        --Spotify: url(https://cdn.discordapp.com/attachments/476154188494143498/680898009122340937/spacestorm.jpg);
        --Streaming: url(https://cdn.discordapp.com/attachments/476154188494143498/680897535828557844/aldebaran.jpg);

        /* MENUS COLORS */
        --grey: rgb(77, 70, 85);
        --grey5: rgba(77, 70, 85, 0.5);
        --darkgrey: rgb(18, 18, 18);
        --darkgrey5: rgba(14, 14, 14, 0.75);
        --ChatBox: var(--darkgrey5);
        --SendMessage: var(--darkgrey);
        --Sidebar: var(--darkgrey5);

}

/*END OF CONFIG*/
